body {
    background-color: rgb(239, 245, 240);
    font-family: "courier new body copy", sans-serif;
    margin: 0px;
    padding: 0px;   
}
.head-title {
    background-color: #3C948B;
    display: flex;
    width: 100%;
}
.head-title h1 {
    margin: 10px auto 10px auto;
    font-size: 25px; 
    color: white;
    letter-spacing: 10px; 
    box-sizing: border-box;       
}

.columns-first-container {    
    max-width: 1200px;
    margin: 5% auto 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.columns {
    width: 40%;
    height: auto;
    padding-bottom: 20px;
    background-color:white;    
    margin-bottom: 100px;    
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.288);
    border-radius: 0px 0px 20px 20px;   
    box-sizing: border-box; 
    
    
}
.columns img {
    width: 100%;
    height: auto;  
     
}



.columns h2{
    text-align: center;       
    padding: 0px;
    color:#3C948B;
    padding: 0px 20px 0px 20px
}
.columns p {
    margin: 0px;
    padding: 0px 20px 0px 20px;    
}
.columns-small {
    width: 10%;    
    height: auto;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    border-color: #3C948B;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(239, 245, 240);    
}
.columns-small h2 {
    color: #3C948B;
    margin: auto;
    font-weight: bolder;
}
.line {
    border-left: 6px solid  #3C948B;
    height: 4050px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    z-index: -5;
    box-sizing: border-box; 
}
.columns-blank {
    width: 40%;
    height: auto;
    padding-bottom: 20px;    
    padding: 0px;
    margin-bottom: 5%; 
    box-sizing: border-box;
} 

@media only screen and (max-width: 1199px) and (min-width: 900px) {
    .columns-blank {        
        width: 0px;
        height: 0px;
        margin: 0px;
        position: absolute;    
    }
    .columns-small {
        order: 1;
    }
    .columns {
        width: 95%;       
        order: 2;     
        padding-bottom: 0px;
        
    }
    .columns img {
        width: 50%;
        height: auto;      
        float: left;  
              
    }

    .columns p, .columns h2 {
        overflow: hidden;
    }

    

    .columns-first-container {        
        flex-direction: column;
        align-items: center;
    }
    .line {        
        height: 3600px;       
    }
}

@media only screen and (max-width: 899px) and (min-width: 600px) {
    .head-title h1 {        
        font-size: 20px; 
        text-align: center;     
    }  
    .columns-blank {
        position: absolute;
        background-color: purple;
        width: 0px;
        height: 0px;
        margin: 0px;
    }   
    .columns-small {  
            
        order: 1;
    }
    .columns {
        width: 60%;        
        order: 2;
    }    
    .columns-first-container {
        
        align-items: flex-start;
    }
}

@media only screen and (max-width: 599px) {
    .head-title h1 {
        font-size: 15px; 
        text-align: center;
        letter-spacing: 5px;        
    }    
    .columns-blank {        
        position: absolute;
        width: 0px;
        height: 0px;
        margin: 0px;
    }
    .columns-small {
        width: 20%;
        order: 1;
    }
    .columns {   
        width: 80%;
        order: 2;
    }
    .columns img {
        width: 100%;
                      
    }
    .columns h2 {
        font-size: 15px;
    }
    .columns p {
        font-size: 12px;
    } 
    .columns-first-container {        
        flex-direction: column;
        align-items: center;
    }
    .line {        
        height: 4200px;       
    }
}